<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
	<connectionStrings>
		<add name="develop" connectionString="Data Source=10.3.1.251;Initial Catalog=StableTest;Persist Security Info=True;User ID=StableTest;Password=stabletest"/>
	</connectionStrings>
</configuration>
